@import '@fontsource/fira-mono';

@font-face {
	font-family: Inter;
	font-weight: bold;
	src: url('fonts/Inter-Bold.woff2');
}

@font-face {
	font-family: Metro;
	src: url('fonts/Metropolis-Regular.woff2');
}

@font-face {
	font-family: FreeSans;
	font-weight: bold;
	src: url('fonts/FreeSansBold.woff');
}

@font-face {
	font-family: NimbusSansL;
	font-weight: bold;
	src: url('fonts/NimbusSanL-Bol-webfont.woff');
}

@font-face {
	font-family: Heros;
	font-weight: bold;
	src: url('fonts/texgyreheros-bold-webfont.woff');
}

@font-face {
	font-family: Traffic;
	font-weight: bold;
	src: url('fonts/XM Traffic Bd.ttf');
}

:root {
	/* font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	font-family: Metro, sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--font-heading: 'Inter', sans-serif;
	--pure-white: #ffffff;
	--primary-color: #e9c46a;
	--secondary-color: #2a9d8f;
	--tertiary-color: #e76f51;
	/* --tertiary-color: #6E3A07; */
	/* --accent-color: #ff3e00; */
	--accent-color: #2A9D8F;
	--heading-color: rgba(0, 0, 0, 0.7);
	/* --text-color: #444444; */
	--text-color: #264653;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 1rem;
}

*::after,
*::before,
* {
	box-sizing: inherit;
}

html {
	background-color: black;
	/* width: 100%;
	height: 100%; */
	/* overflow: hidden; */
}

body {
	margin: 0;
	/* width: 100%;
	height: 100%;
	overflow: hidden; */
	/* background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35% 
	);*/
}

/* body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
} */

#svelte {
	position: fixed;
	height: calc(100% - 2rem);
	width: calc(100% - 2rem);
	display: flex;
	flex-direction: column;
	background-color: var(--primary-color);
	border-style: solid;
	border-width: 1rem;
	border-color: var(--tertiary-color);
	overflow: auto;
}

h1,
h2 {
	font-weight: 600;
	color: var(--heading-color);
	font-family: var(--font-heading);
	letter-spacing: 1px;
}

p {
	font-weight: 400;
	color: var(--text-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: var(--secondary-color);
	font-size: 3rem;
	/* text-align: center; */
	font-family: var(--font-heading);
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (max-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}

	#svelte {
		position: relative;
		height: calc(100% - 1rem);
		width: calc(100% - 1rem);
		display: flex;
		flex-direction: column;
		border-width: 0.5rem;
		overflow: auto;
	}
}
